@page "/BindProperties"
@using BlazorGuide.Models

<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary"> Product PlayGround</h3>
        <hr />

        IsActive : <input type="checkbox" @bind-value="@product.IsActive" /> <br />

        Input Price: <input type="number" @bind-value="@product.Price" @bind-value:event="oninput" /> <br />

        <br />
        <br />

        Product Properties

        <select @bind="selectedProp">
            @foreach (var prop in product.ProductProperty)
            {
                <option value="@prop.Key">@prop.Key</option>
            }
        </select>
    </div>

    <div class="col-6 border p-3">
        <h3 class="text-primary"> Product Summary</h3>
        <hr />
        Name : @product.Name <br />
        IsActive : @product.IsActive <br />
        Price : @product.Price <br />
        This Product is: @(product.IsActive ? "Active" : "InActive") <br />


        <br />
        <br />

        Selected Properties: @selectedProp

        @if (!string.IsNullOrEmpty(selectedProp))
        {
            <p>Selected Value: @product.ProductProperty.FirstOrDefault(u => u.Key == selectedProp).Value</p>
        }
    </div>
</div>




@code {
    private string selectedProp = "";

    Product product = new()
        {
            Id = 1,
            Name = "Product 1",
            IsActive = false,
            Price = 100,
            ProductProperty = new List<ProductProperties>()
            {
                new ProductProperties {Id = 1, Key="Color", Value="Red"},
                new ProductProperties {Id = 2, Key="Size", Value="20oz"},
                new ProductProperties {Id = 1, Key="Flavor", Value="Rose"},
            }
        };



    List<Product> ProductList = new();

    protected override void OnInitialized()
    {
        ProductList.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,
                Price = 5.99,
                ProductProperty = new List<ProductProperties>()
                {
                    new ProductProperties { Id = 1, Key = "Flavor", Value = "Rose"},
                    new ProductProperties { Id = 2, Key = "Size", Value = "20oz"},
                    new ProductProperties { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        ProductList.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 10.59,
                ProductProperty = new List<ProductProperties>()
            {
                new ProductProperties{  Id = 1, Key = "Flavor", Value = "Lily" },
                new ProductProperties { Id = 2, Key = "Size", Value = "18oz" },
                new ProductProperties { Id = 3,Key = "Color",Value = "White"}
            }
            });
    }

}
